.loginform {
  padding: 25px;
  color: #e9e5e58a;
}
.loginContainer {
  width: 50%;
  background: #1515158c;
  transform: translate(50%, 22%);
  border-radius: 10px;
  border: 1px solid #282828;
}
.hf{
  height: 600px;
}

.loginform .heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}
.loginform input {
  width: 50%;
  margin: auto;
}
.loginform label {
  position: absolute;
}
.loginform .create {
  display: flex;

  padding: 20px 70px 0 0;
  justify-content: space-between;
}

.loginform .file {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: absolute; */
  left: 0%;
}
.mU {
  margin-top: 75px;
}
.mL {
  margin-top: 5px;
}
.loginform .create button {
  height: 32px;
  width: 70px;
  font-size: 0.9rem;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  .loginform .file {
    display: block;
  }
  .loginContainer {
    width: 62%;
    min-width: 29vmax;
    transform: translate(27%, 18%);
   
  }
  
  .loginform .heading {
    font-size: 1.2rem;
  }
  .loginform input {
    font-size: 0.8rem;
    height: 32px;
    width: 75%;
  }

  .loginform label {
    position: relative;
  }
  
  .mU button {
    height: 32px;
    width: 70px;
    font-size: 0.9rem;
    padding: 0;
  }
  .loginform .create {
    display: contents;
    padding: 5px 10px 0 0;
  }
  .create {
    display: contents;
  }
  
  .loginform .create button {
    height: 32px;
    width: 70px;
    font-size: 0.9rem;
    padding: 0;
  }
  .loginform .file p {
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 650px) {
  .mL {
    margin-top: 5px;
  }
  
  
}
